[package]
name = "cosmwasm-orchestrate"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-vm = { path = "../vm" }
cosmwasm-vm-wasmi = { path = "../vm-wasmi" }
cosmwasm-std = { git = "https://github.com/ComposableFi/cosmwasm", rev = "21351cc1ced863b9af7c8a69f923036bc919b3b1", features = [
  "stargate",
  "ibc3",
  "staking"
] }
cosmwasm-crypto = { git = "https://github.com/ComposableFi/cosmwasm", rev = "21351cc1ced863b9af7c8a69f923036bc919b3b1" }
serde_json = "1.0"
serde = { version = "1.0", default-features = false, features = [
  "alloc",
  "derive",
] }
wasmi = { git = "https://github.com/ComposableFi/wasmi", rev = "cd8c0c775a1d197a35ff3d5c7d6cded3d476411b", default-features = false }
wasm-instrument = { version = "0.2", default-features = false }
log = { version = "0.4", default-features = false }
sha2 = { version = "0.10", default-features = false }
reqwest = { version = "0.11", features = ["blocking"] }
base64 = "0.13.1"
async-trait = { version = "0.1.58" }
bech32 = { version = "0.9.1", default-features = false }
bs58 = { version = "0.4.0", default-features = false, features = [ "alloc" ] }

[dev-dependencies]
cw20 = "0.16"
cw20-base = { version = "0.16", features = ["library"] }
tokio = { version = "1.23", features = [ "rt", "macros" ] }
env_logger = { version = "0.10" }
hex = { version = "0.4", default-features = false, features = ["alloc"] }
