[package]
name = "cosmwasm-vm-wasmi"
version = "0.1.0"
edition = "2021"

[features]
iterator = [ "cosmwasm-vm/iterator", "cosmwasm-minimal-std/iterator" ]

[dependencies]
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = { version = "1", default-features = false, features = ["alloc"] }
either = { version = "1.6", default-features = false }
log = { version = "0.4", default-features = false }
wasmi = { git = "https://github.com/ComposableFi/wasmi", rev = "cd8c0c775a1d197a35ff3d5c7d6cded3d476411b", default-features = false }
wasm-instrument = { version = "0.2", default-features = false }
cosmwasm-minimal-std =  { path = "../std", default-features = false }
cosmwasm-vm = { path = "../vm", default-features = false }
wasmi-validation = { git = "https://github.com/ComposableFi/wasmi", rev = "cd8c0c775a1d197a35ff3d5c7d6cded3d476411b", default-features = false }

[dev-dependencies]
wat = "1.0"
env_logger = "0.9"
cosmwasm-crypto = "1.0.0"
