name: "Build & Tests & Clippy & Fmt"
on:
  push:
  pull_request:
jobs:
  build-tests-clippy-fmt:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: |
          nix flake check -L
